{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roz ka Hisab</title>
    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>
<body>
    <div class="container">
    <h1>Roz Ka Hisab</h1>
    <p>Family Expense Tracker</p>
    
    
    <form method="POST">
      {% csrf_token %}
      <div class="input-box">
        <input type="text" name="name" placeholder="Enter your name" required>
      </div>
      <div class="message">
        {% for i in messages %}
            {{i}}
        {% endfor %}
      </div>
      <button type="submit">Enter</button>
    </form>

    <footer>👨‍👩‍👧 Track Family Expenses with Ease</footer>
  </div>
</body>
</html>